{{!-- app/templates/application.hbs --}}
{{page-title "Calender-Jan2023"}}
<h1 class="heading">Jan_2023</h1>
<div class="div">
<div class="sun">SUN</div>
<div class="mon" >MON</div>
<div class="tue">TUE</div>
<div class="wed">WED</div>
<div class="thr">THR</div>
<div class="fri">FRI</div>
<div class="sat">SAT</div>
</div>
<div class="dates">
  <div class="row1">
<div class="date date1">1{{line-chart}}</div>
<div class="date date2">2{{line-chart}}</div>
<div class="date date3">3{{line-chart}}</div>
<div  class="date date4">4{{line-chart}}</div>
<div class="date date5">5{{line-chart}}</div>
<div class="date date6">6{{line-chart}}</div>
<div class="date date7">7{{line-chart}}</div>
</div>
 <div class="row2">
<div class="date date8">8{{line-chart}}</div>
<div class="date date9">9{{line-chart}}</div>
<div class="date date10">10{{line-chart}}</div>
<div  class="date date11">11{{line-chart}}</div>
<div class="date date12">12{{line-chart}}</div>
<div class="date date13">13{{line-chart}}</div>
<div class="date date14">14{{line-chart}}</div>
</div>
 <div class="row3">
<div class="date date15">15{{line-chart}}</div>
<div class="date date16">16{{line-chart}}</div>
<div class="date date17">17{{line-chart}}</div>
<div  class="date date18">18{{line-chart}}</div>
<div class="date date19">19{{line-chart}}</div>
<div class="date date20">20{{line-chart}}</div>
<div class="date date21">21{{line-chart}}</div>
</div>
<div class="row4">
<div class="date date22">22{{line-chart}}</div>
<div class="date date23">23{{line-chart}}</div>
<div class="date date24">24{{line-chart}}</div>
<div  class="date date25">25{{line-chart}}</div>
<div class="date date26">26{{line-chart}}</div>
<div class="date date27">27{{line-chart}}</div>
<div class="date date28">28{{line-chart}}</div>
</div>
<div class="row5">
<div class="date date29">29{{line-chart}}</div>
<div class="date date30">30{{line-chart}}</div>
<div class="date date31">31 {{line-chart}}</div>
</div>
</div>

{{outlet}}